.bordered {
    border: 1px solid #cc3;
}
input{
    display: none;
}

label{
    display: inline-block;

    position: relative;
    border: 2px solid transparent;
}
input:checked + label{
    border: 2px solid #0e0e0e;
}
.button{
    padding-bottom: 1em;
}
.container{
    padding:2em;
}